html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#simcache-placeholder {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: #f8f8f8;
    --textColor: #10183c;
    color: var(--textColor);
}