html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#simcache-container {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    box-sizing: border-box;
    padding: 1rem;
    border: none;
}

.shadow {
    --shadow: drop-shadow(0 0 8px rgba(0, 0, 0, 0.2)) drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
    filter: var(--shadow);
    -webkit-filter: var(--shadow);
}

#simcache-container h2 {
    margin: 0;
    padding: 0;
    font-size: 1.272rem;
    --textColor: #ffe8b2;
    color: var(--textColor);
}

#simcache-container p {
    margin: 0;
    padding: 0;
    font-weight: 600;
    --textColor: #f8f8f8;
    color: var(--textColor);
    --fontSizeParagraph: 1.128rem;
    font-size: var(--fontSizeParagraph);
}

#simcache-container>*:last-child {
    margin-left: 1rem;
}

.annuli-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.annuli-container>svg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

#airplane-shadow {
    z-index: 2;
    --shadow: drop-shadow(0 0 2px rgba(0, 0, 0, 0.67));
    filter: var(--shadow);
    -webkit-filter: var(--shadow);
}

#airplane {
    z-index: 1;
    width: 24px;
    height: 24px;
    background-color: #f8f8f8;
    --airplane: path("M22,16v-2l-8.5-5V3.5C13.5,2.67,12.83,2,12,2s-1.5,0.67-1.5,1.5V9L2,14v2l8.5-2.5V19L8,20.5L8,22l4-1l4,1l0-1.5L13.5,19 v-5.5L22,16z");
    -webkit-clip-path: var(--airplane);
    clip-path: var(--airplane);
}